* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-fuente);
  color: var(--color-contrast);
}

a {
  color: var(--color-contrast);
  text-decoration: none;
}

button {
  all: unset;
}
