.header_prin {
  position: relative;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3rem;

  border-bottom: 1px solid var(--contrast-20);
  padding: 0rem 0.5rem;

  z-index: 4;
}
.header_nav {
  display: flex;
  margin: 0 auto;
  width: min-content;
  height: auto;
}
.header_nav ul {
  display: inherit;
  height: auto;
}
.header_nav li {
  height: auto;
}
.header_nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: 500;
  color: var(--contrast-80);
  
  transition: all 0.3s ease;
}
.header_nav ul li a:hover {
  position: relative;
  color: var(--color-contrast);
}

.lk_act {
  color: var(--primary-color) !important;
  pointer-events: none;
}
.lk_act::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--primary-color);

  animation: walla 0.3s;
  animation-fill-mode: forwards;
}

@keyframes walla {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Card depliegue estilos */
.cont_descard {
  position: absolute;
  height: inherit;
}

.cont_descard button {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0px;
}
.cont_descard:has( :checked ) {
  --opa: 1;
  --visi: visibility;
  --toping: calc(100% + 0.5rem);
  --btn-act: var(--color-contrast);
}
.cont_descard button:target {
  --opa: none;
  --visi: none;
  --toping: none;
  --btn-act: none;
}
.cont_descard button svg path {
  fill: var(--btn-act, var(--primary-color));
  transition: all 0.3s ease;
}

.cont_descard button input {
  border: 1px solid red;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.des_menu_card {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: var(--toping, 100%);
  left: 0;
  width: auto;
  min-width: 12rem;
  height: auto;
  background-color: var(--color-contrast);
  border-radius: 0.3rem 1rem 1rem 1rem;
  color: var(--color-fuente);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
  opacity: var(--opa, 0);
  visibility: var(--visi, hidden);
  transition: all 0.3s ease;

  z-index: 5;
}

.btn_theme {
  display: flex;
  justify-content: center;
  width: auto;
  height: 2.5rem !important;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  color: var(--color-fuente);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--primary-color);
}
.des_menu_card p {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: var(--fuente-50);
}


/* .cont_descard button:focus + .des_menu_card, .des_menu_card:target {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 0.5rem);
} */


