.sec_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
  max-width: 25rem;
  margin: 0 auto;
  padding: 1rem;
}
.sec_1 h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.sec_1 p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--contrast-80);
}
.sec_1 button {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-fuente);
  transition: all 0.3s ease;
}
.sec_1 button:hover {
  transform: translateY(-3px);
  color: var(--color-contrast);
}

